:host {
  border: var(--wcbp-border-width) var(--wcbp-border-style) gray;
  padding: var(--wcbp-padding);
  display: var(--wcbp-display);
  font-family: var(--wcbp-font-family);

  h2 {
    margin: 0 0 0.5rem;
  }

  slot[name='registration'] {
    display: block;
    background: #eee;
  }

  ::slotted(code[slot='registration']) {
    background: #eee;
    padding: 0.2rem 0.4rem;
    font-size: 0.9em;
    display: block;
    border-radius: 0;
  }

  ::slotted(p:last-child) {
    margin-bottom: 0;
  }
}
